.categories {
    color: rgb(228, 8, 45) !important;
    margin-right: 25px !important;
}

.ad-left {
    float: left;
  }
  
  .ad-right {
    float: right;
    margin-left: 10px;
  }
  
  .entire-thing {
    width: 650px;
  }
